body, head {
    margin:0;
    padding:0;
    font-family: 'podkova';
}

/* banner */
#banner {
    background: linear-gradient(rgba(255, 255, 255, 0.023),rgba(255, 255, 255, 0.3), #E3CBE2), url(./src/banner.jpg);
    background-size:100%;
    height: 120vh
    ;
}

.logo {
    width: 100px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.banner-text {
    text-align: center;
    color: #101186;
    padding-top: 180px;
}

.banner-text p {
    position: absolute;
    top: 55%;
    left: 30%;
}
.banner-text h1 {
    font-size: 80px;
    animation-name: changeColor ;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state:running;

}
@keyframes changeColor {
    0% {
        color: #ffffff;
    }
    50% {
        color: #B54871;
    }
    100% {
        color: #101186;
    }
}


.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0
}

.banner-btn a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin:20px 10px;
    padding: 12px 0;
    color: #101186;
    border: 1px solid #101186;
    z-index: 1;
}

.banner-btn a div {
    width: 0%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    position:absolute;
    transition: 0.5s;
}

.banner-btn a:hover {
    color: white;
}

.banner-btn a:hover div {
    width: 100%;
    height: 100%;
    background:#B54871;
}
/* end sidenav */

/* sidenav */
#sideNav {
    width:250px;
    height:100vh;
    position: fixed;
    top:0;
    right: -250px;
    background: #DFC63C;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li {
    list-style-type: none;
    margin: 50px 20px
}

nav ul li a {
    display:inline-block;
    text-decoration: none;
    color:#101186;
    font-size: 20px;
}

nav ul li a:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#menubtn {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img {
    width: 50px;
}
/* end sidenav */

/* feature */
#feature {

    position: relative;
    margin:0;
    padding:5px;
    background-color:#E3CBE2 ;
    text-align:center ;
}

.title-text p {
    text-align:center ;
    color: white;
    font-size: 50px;
}

.title-text h1 {
    color: white;
    margin-top: -30px;
    font-size: 20px;
    text-align:center ;
}

.feature-box {
    width: 300px;
    text-align: left;
}

.feature-img {
    width: 500px;
    margin-left: 250px;
    margin-top:-50px
}

.features-desc {
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    grid-template-columns: 20% 90%;
    grid-template-rows: 50px auto;
    grid-template-areas:
    "h1 h1"
    "icon text"
}

.features-desc h1 {
    grid-area:h1;
    font-size: 30px;
}
.features-text {
    grid-area:text;
    margin:0;
}

.features-text p {
    display: inline-block;
}
.f1 {
    width: 300px;
    position: absolute;
    top:200px;
    left: 220px;
}

.f2 {
    width:300px;
    position: absolute;
    top: 200px;
    left:750px
}

.f3 {
    width:300px;
    position: absolute;
    top: 440px;
    left:700px
}

.features-icon .bi {
    position: absolute;
    top:50px;
    color: #B54871;
    grid-area:icon;
} 

.features-desc:hover {
    color: #B54871;
    font-weight: bolder;
    
}

.features-desc:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #101186;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
.features-desc:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  
}
/*end features */

/* service */
#service {
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(180deg, hsla(298, 68%, 90%, 1) 0%, hsla(302, 30%, 84%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.single-service img {
    width:400px;
    height: 400px;
    border-radius: 7px;
}

.overlay {
    width: 400px;
    height: 100%;
    position:absolute;
    top:0;
    left:42px ;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(180deg, hsla(337, 43%, 50%, 0.5) 0%, hsla(239, 79%, 29%, 0.7) 100%);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background:white;
    height: 2px;
    border: 0;
    margin:15px auto;
    width: 50%;
}

.service-desc p {
    font-size: 20px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}
/* end service */

/* feedback */

#feedback {
    width: 100%;
    padding:20px 0;
    background: linear-gradient(180deg, hsla(30, 83%, 91%, 1) 28%, hsla(211, 24%, 67%, 1) 71%, #3770a9 100%, hsla(316, 12%, 75%, 1) 100%, hsla(249, 25%, 55%, 1) 100%, hsla(211, 25%, 67%, 1) 100%, hsla(211, 22%, 69%, 1) 100%);
}

.feedback-row {
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.feedback-col {
    flex-basis: 28%;
    padding:10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px gray;
    cursor: pointer;
    transition: transform 0.5s;
}

.feedback-col p {
    font-size: 14px;
}

 .user {
    display: flex;
    align-items: center;
    margin:15px
}

.user img {
    width:60px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .bi {
    margin-left:10px;
    font-size: 15px;
    color:#101186
}
.user-info small {
    color: #101186;
}

.feedback-col:hover {
    transform: translateY(7px);
} 

/* end feedback */

/* contact */
#footer {
    padding: 50px 0 20px;
    background: linear-gradient(180deg, hsla(210, 51%, 44%, 1) 0%, hsla(210, 51%, 44%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    position: relative;
    color: white;
}

.footer-row {
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding:10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin:10px 0
}

.footer-row p {
    line-height: 20px;
}
#footer img {
    max-width: 500px;
    opacity: 0.1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-link {
    text-align: center;
}
.social-link .bi {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 5px 0;
    color:#DFC63C ;
    cursor: pointer;
    transition: 0.5s;
}

.social-link .bi:hover {
    color: #B54871;
    transform: scale(1.5);
}

.social-link p {
    font-size: 12px;
    margin-top: 20px;
}

.footer-left .bi, .footer-right .bi {
    font-size: 20px;
    color:#DFC63C  ;
    margin:10px
}

/* end contact */

/* media query */
@media screen and (min-width:768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

}

@media screen and (max-width:768px) and (min-width:577px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

}

@media screen and (max-width:576px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}

